{% extends 'base.html' %}

{% block content %}

<h2 class="section-title">About Me</h2>

<div class="card about education-card">
    <p>
        Final-year Computer Science student with experience in full-stack development,
        IoT systems, and machine learning. Skilled in Python, Django, and cloud integration.
    </p>
</div>



<br><br>

<h2 class="section-title">Education</h2>

<div class="grid">

    <div class="card education-card">
        <h3>B.E Computer Science</h3>
        <p>Acharya Institute of Technology</p>
        <p>2022-2026</p>
    </div>

    <div class="card education-card">
        <h3>PUC (PCMB)</h3>
        <p>Vidya P Hanchinmani College</p>
        <p>2020-2022</p>
    </div>

    <div class="card education-card">
        <h3>SSLC</h3>
        <p>R.V.S.R High School</p>
        <p>2019-2020</p>
    </div>

</div>

<br><br>

<!-- HOBBIES SECTION -->
<h2 class="section-title">Hobbies</h2>

<div class="grid">

    <div class="card education-card hover-card">
        <h3>🌍 Travelling</h3>
        <p>I enjoy exploring new places, cultures, and experiences.</p>
    </div>

    <div class="card education-card hover-card">
        <h3>🏸 Badminton</h3>
        <p>I like playing badminton to stay active and competitive.</p>
    </div>

</div>
{% endblock %}